@import "variables";
@import "~bootstrap/scss/bootstrap";

@import "syntax";

.doc-section {
  & + .doc-section {
    margin-top: 2rem;
  }
}

.doc-section-title {
  margin-bottom: 1rem;
}

.doc-subsection {
  & + .doc-subsection {
    margin-top: 1.5rem;
  }
}

.doc-subsection-title {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.card-example {

  .CodeMirror {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: #f7f7f9;
    margin-bottom: 0 !important;
    border-top: 1px solid $gray-lighter;
    padding: 1.25rem;
    color: #373a3c;
  }
}
